.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 56px;
  border-radius: 0;
  border-right: 1px solid #aaa;

  .mat-mdc-list-item {
    span {
      display: none;
    }
  }

  &.expanded {
    width: 220px;

    .mat-mdc-list-item {
      span {
        display: block;
      }
    }
  }

  mat-nav-list {
    a {
      border-radius: 0;
    }

    .version {
      position: absolute;
      bottom: 8px;
      padding-right: 20px;
      width: calc(100% - 20px);
      text-align: right;
    }
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-sidenav-content {
  margin-left: 56px;
}
