.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 56px;
  border-radius: 0;
  border-right: 1px solid #aaa;

  .mat-mdc-list-item {
    span {
      display: none;
    }
  }

  &.expanded {
    width: 220px;
    .mat-mdc-list-item {
      span {
        display: block;
      }
    }
  }

  mat-nav-list {
    a {
      border-radius: 0;
    }
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
