<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav
    #drawer
    class="sidenav"
    [class.expanded]="!isHandset() || isExpanded()"
    fixedInViewport
    disableClose
    [attr.role]="isHandset() ? 'dialog' : 'navigation'"
    [mode]="isHandset() && isExpanded() ? 'over' : 'side'"
    opened
  >
    <mat-nav-list>
      @if (isHandset()) {
        <a
          mat-list-item
          aria-label="Toggle sidenav"
          (click)="toggleIsExpanded()"
        >
          <mat-icon matListItemIcon>menu</mat-icon>
          <span matListItemTitle>London Bus Radar</span>
        </a>
      }

      @for (item of menuItems; track item) {
        <a
          mat-list-item
          [routerLink]="item.link"
          routerLinkActive
          #rla="routerLinkActive"
          [activated]="rla.isActive"
          ariaCurrentWhenActive="page"
          (click)="hideSidenav()"
        >
          <mat-icon matListItemIcon [innerHTML]="item.icon" />
          <span matListItemTitle [innerHTML]="item.label"></span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content />
  </mat-sidenav-content>
</mat-sidenav-container>
