@let details = details$ | async;
@if (details) {
  <div class="header">
    <p>{{ details.commonName }}</p>

    <div class="stop-legend">
      <div class="stop-letter">
        {{ details.stopLetter }}
      </div>

      @if (details.towards) {
        <div class="towards">towards {{ details.towards }}</div>
      }
    </div>

    <app-line-filter
      [lines]="details.lines"
      [preSelectedLine]="lineId()"
      (filter)="filter.set($event)"
    />
  </div>
}

@let arrivals = arrivals$ | async;
@if (arrivals) {
  <div class="content">
    @for (arrival of arrivals; track arrival.id; let last = $last) {
      <div>
        <div>{{ arrival.lineName }}</div>
        <div>{{ arrival.destinationName }}</div>
        <div>
          <b>{{ arrival.timeToStation | timeToStation }} </b>
          <div>{{ arrival.timeToStation }}</div>
        </div>
      </div>
      @if (!last) {
        <hr />
      }
    }
  </div>
}

@if (filter()) {
  <app-stop-timetable [stopId]="stopId()" [lineId]="lineId()" />
}
