@let details = details$ | async;
@if (details) {
  <div class="header">
    <app-bus-stop [stop]="details" [hideLines]="true" />

    <app-line-filter
      [lines]="details.lines"
      [preSelectedLine]="lineId()"
      (filter)="lineFilter.set($event)"
    />
  </div>
}

@if (lineFilter()) {
  <div class="view-filter">
    <mat-button-toggle-group
      hideSingleSelectionIndicator="true"
      [(ngModel)]="arrivalTimeSpan"
    >
      <mat-button-toggle value="live">Live</mat-button-toggle>
      <mat-button-toggle value="weekday">Weekday</mat-button-toggle>
      <mat-button-toggle value="saturday">Saturday</mat-button-toggle>
      <mat-button-toggle value="sunday">Sunday</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
}

@let arrivals = arrivals$ | async;
@if (arrivals && (!lineFilter() || arrivalTimeSpan() === 'live')) {
  <div class="content">
    @for (arrival of arrivals; track arrival.id; let last = $last) {
      <app-bus-arrival [item]="arrival" />
    }
  </div>
} @else if (lineFilter()) {
  <app-stop-timetable
    [stopId]="stopId()"
    [lineId]="lineFilter()!"
    [arrivalTimeSpan]="arrivalTimeSpan()"
  />
}
