@property --progress {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

.header {
  margin-bottom: 1em;

  display: flex;
  flex-direction: row;
  gap: 0.3em;

  button.refresh {
    --progress: 0%;

    margin-left: auto;
    background-image: conic-gradient(
      from 0deg,
      #0003 var(--progress),
      transparent 0
    );

    &[running='true'] {
      --progress: 100%;
      transition: --progress 29s linear;
    }
  }
}

app-line-filter {
  display: block;
  margin-bottom: 1em;
}

.view-filter {
  margin-bottom: 1em;
  text-align: center;

  mat-button-toggle-group {
    min-width: 18em;
    max-width: 28em;
    width: 90%;
  }

  mat-button-toggle {
    flex: 1;
  }
}

.content {
  margin-top: 1em;

  & > * {
    display: block;
    margin-bottom: 1em;
  }

  div {
    text-align: center;
  }
}
