@let vm =
  {
    details: details$ | async,
    arrivals: arrivals$ | async,
    refresher: refresher$ | async,
  };
@if (vm.details) {
  <div class="header">
    @switch (vm.details.state) {
      @case ('loading') {
        <app-loading />
      }
      @case ('error') {
        <app-error
          (onRefresh)="detailsRefresherSubject.next()"
          [errorData]="vm.details.error"
        />
      }
      @case ('done') {
        <app-bus-stop [stop]="vm.details.data" [hideLines]="true" />
      }
    }

    <app-refresh-with-progress
      [duration]="REFRESH_PERIOD"
      [reset]="vm.refresher"
      (refresh)="refresherSubject.next()"
    />
  </div>

  @if (vm.details.state === 'done') {
    <app-line-filter
      [lines]="vm.details.data.lines"
      [preSelectedLine]="lineId()"
      (filter)="lineFilter.set($event)"
    />
  }
}

@if (lineFilter()) {
  <div class="view-filter">
    <mat-button-toggle-group
      hideSingleSelectionIndicator="true"
      [(ngModel)]="arrivalTimeSpan"
    >
      <mat-button-toggle value="live">Live</mat-button-toggle>
      <mat-button-toggle value="timetable">Timetable</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
}

@if (vm.arrivals && (!lineFilter() || arrivalTimeSpan() === 'live')) {
  <div class="content">
    @switch (vm.arrivals.state) {
      @case ('error') {
        <app-error
          (onRefresh)="refresherSubject.next()"
          [errorData]="vm.arrivals.error"
        />
      }
      @case ('done') {
        @for (arrival of vm.arrivals.data; track arrival.id; let last = $last) {
          <app-bus-arrival [item]="arrival" />
        } @empty {
          <div>No results</div>
        }
      }
    }
  </div>
} @else if (lineFilter()) {
  <app-stop-timetable [stopId]="stopId()" [lineId]="lineFilter()!" />
}
