.header {
  margin-bottom: 1em;

  display: flex;
  flex-direction: row;
  gap: 0.3em;
  justify-content: flex-end;
  align-items: center;

  app-bus-stop {
    margin-right: auto;
  }

  app-loading {
    width: 100%;
  }
}

app-line-filter {
  display: block;
  margin-bottom: 1em;
}

.view-filter {
  margin-bottom: 1em;
  text-align: center;

  mat-button-toggle-group {
    min-width: 18em;
    max-width: 28em;
    width: 90%;
  }

  mat-button-toggle {
    flex: 1;
  }
}

.content {
  margin-top: 1em;

  & > * {
    display: block;
    margin-bottom: 1em;
  }

  div {
    text-align: center;
  }
}
