<app-search-input (searchInput)="inputSubject.next($event)" />

@if (showRadiusControl$ | async) {
  <app-search-radius (searchRadius)="radiusSubject.next($event)" />
}

<div class="content">
  @let viewModel = viewModel$ | async;
  @if (viewModel) {
    @if (viewModel.state === 'done') {
      @for (stop of viewModel.data; track stop.id) {
        <a [routerLink]="['/stop', stop.id]">
          <app-bus-stop [stop]="stop" />
        </a>
      } @empty {
        <div>No results</div>
      }
    } @else if (viewModel.state === 'idle') {
      <div>Start typing</div>
    } @else if (viewModel.state === 'loading') {
      <app-loading />
    } @else if (viewModel.state === 'error') {
      <app-error [errorData]="viewModel.error" />
    }
  }
</div>
