<mat-form-field class="example-full-width">
  <mat-label>Search</mat-label>
  <input matInput placeholder="route name" [formControl]="searchControl" />
</mat-form-field>

<ng-content *ngIf="viewModel$ | async as viewModel">
  @if (viewModel.state === "done") {
    @for (item of viewModel.data; track item.id) {
      <div>
        {{ item.lineName }}
        <small>{{ item.direction }}</small>
        <br />
        {{ item.destination }}
      </div>
    } @empty {
      <div>No results</div>
    }
  } @else if (viewModel.state === "idle") {
    <div>Start typing to search for a bus route</div>
  } @else if (viewModel.state === "loading") {
    <div>Loading...</div>
  } @else if (viewModel.state === "error") {
    @if (viewModel.message) {
      <div>Error: {{ viewModel.message }}</div>
    } @else {
      <div>Something went wrong</div>
    }
  }
</ng-content>
