@let details = details$ | async;
@if (details) {
  <div class="header">
    <p>{{ details.commonName }}</p>
    @let props = stopProperties(details);
    <p>
      {{ props.stopLetter }}
      towards {{ props.towards }}
    </p>

    <app-line-filter
      [lines]="details.lines"
      [preSelectedLine]="lineId()"
      (filter)="filter.set($event)"
    />
  </div>
}

@let arrivals = arrivals$ | async;
@if (arrivals) {
  <div class="content">
    @for (arrival of arrivals; track arrival.tripId; let last = $last) {
      <div>
        <div>{{ arrival.lineName }}</div>
        <div>{{ arrival.destinationName }}</div>
        <div>
          <b>{{ arrival.timeToStation | timeToStation }} </b>
          <div>{{ arrival.timeToStation }}</div>
        </div>
      </div>
      @if (!last) {
        <hr />
      }
    }
  </div>
}

@if (filter()) {
  <p>timetable goes here</p>
}
