@let data = data$ | async;
@if (data) {
  <p>{{ data.details.commonName }}</p>
  @let props = stopProperties(data.details);
  <p>
    {{ props.stopLetter }}
    towards {{ props.towards }}
  </p>

  <hr />

  @for (arrival of data.arrivals; track arrival.id; let last = $last) {
    <div>
      <div>{{ arrival.lineName }}</div>
      <div>{{ arrival.destinationName }}</div>
      <div>
        in
        <b>{{ arrival.timeToStation }}</b>
        seconds
      </div>
    </div>
    @if (!last) {
      <hr />
    }
  }
}
